@font-face{
  font-family: 'Gilroy ExtraBold';
  src: url('../fonts/gilroyextrabold.woff2') format('woff2'),
       url('../fonts/gilroyextrabold.woff') format('woff');
  font-weight: bold;
  font-style: normal;
}

@font-face{
  font-family: 'Gilroy Light';
  src: url('../fonts/gilroylight.woff2') format('woff2'),
       url('../fonts/gilroylight.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

body {
  margin: 0;
  padding: 0;

  font-family: 'Open Sans', Arial, sans-serif;
  font-size: 15px;
  line-height: 30px;
  font-weight: 300;
  color: #464646;
  letter-spacing: 0.01em;

  background-color: #ffffff;
}

.inner-page {
  color: #000000;
}

a {
  text-decoration: none;
}

.main-header {
  background-color: #f7e296;
}

.main-header a {
  color: #000000;
}

.main-header a:hover {
  color: rgba(0, 0, 0, 0.6);
}
.main-header a:active {
  color: rgba(0, 0, 0, 0.3);
}

/* Стилизация формы поиска */
.search-form input[type="search"] {
  font: inherit;
  color: rgba(0, 0, 0, 0.3);

  background-color: #f7e296;
  border: none;
}

.search-form input[type="search"]:hover {
  color: rgba(0, 0, 0, 0.6);
}

.search-form input[type="search"]:focus {
  border-bottom: 2px solid #000000;
  color: #000000;
}

.search-form input[type="search"]:focus ~ .button.visually-hidden {
  font: inherit;

  background-color: #f7e296;
  border: 2px solid #000000;
  visibility: visible;
}

.search-form input[type="search"]:focus ~ .button.visually-hidden:hover {
  color: #ffffff;

  background-color: #000000;
}

.search-form input[type="search"]:focus ~ .button.visually-hidden:active {
  color: rgba(255, 255, 255, 0.3);
}
/* Конец Стилизация формы поиска */

.user-navigation {
  list-style: none;
}

.site-navigation {
  list-style: none;
  text-transform: uppercase;
}

.site-navigation-item > a {
  font-family: 'Gilroy ExtraBold', Arial, sans-serif;
  font-size: 18px;
  line-height: 24px;
  color: #000000;
  letter-spacing: 0.2em;
}

.container h1 {
  font-family: 'Gilroy ExtraBold', Arial, sans-serif;
  font-size: 47px;
  line-height: 48px;
  color: #000000;
}

.catalog li {
  list-style: none;
  text-transform: none;
}

.hit-list {
  list-style: none;
}

.hit-item-title {
  font-family: 'Gilroy ExtraBold', Arial, sans-serif;
  font-size: 47px;
  line-height: 56px;
  color: #000000;
}

.button,
.button:hover,
.button:active {
  font-family: 'Gilroy ExtraBold', Arial, sans-serif;
  font-size: 18px;
  line-height: 24px;
  color: #000000;
  letter-spacing: 0.2em;

}

.button:active {
  color: rgba(0, 0, 0, 0.3);
}

.hit-item thead {
  font-size: 13px;
  line-height: 20px;
}

.hit-item tbody {
  font-family: 'Gilroy Light', Arial, sans-serif;
  font-size: 36px;
  line-height: 48px;
  color: #000000;
}

.popular-category-list {
  list-style: none;
}

.popular-category a,
.popular-category a:hover {
  font-family: 'Gilroy ExtraBold', Arial, sans-serif;
  font-size: 18px;
  line-height: 24px;
  color: #000000;
}

.popular-category a:active {
  color: rgba(0, 0, 0, 0.3);
}

.services h3 {
  font-family: 'Gilroy ExtraBold', Arial, sans-serif;
  font-size: 47px;
  color: #000000;
}

.services-list {
  list-style: none;
}

.info h2,
.contacts h2 {
  font-family: 'Gilroy ExtraBold', Arial, sans-serif;
  font-size: 47px;
  color: #000000;
}

.transport-company-list {
  font-family: 'Gilroy ExtraBold', Arial, sans-serif;
  font-size: 16px;
  line-height: 40px;
  color: #000000;
}

.breadcrumbs {
  list-style: none;
}

.breadcrumbs a,
.breadcrumbs li {
  font-size: 14px;
  line-height: 24px;
  color: rgba(0, 0, 0, 0.3);
}

.breadcrumbs a:hover {
  color: rgba(0, 0, 0, 0.6);
}

.breadcrumbs a:active {
  color: rgba(0, 0, 0, 0.1);
}

.filters h2 {
  font-family: 'Gilroy ExtraBold', Arial, sans-serif;
  font-size: 16px;
  line-height: 24px;
}

.filter ul {
  list-style: none;
}

.filter fieldset {
  border: none;
  position: relative;
}

.filter fieldset::before {
  content: "";
  position: absolute;
  top: 0;
  border-top: 2px solid #000000;
  width: 100%;
}

.filter legend {
  font-family: 'Gilroy ExtraBold', Arial, sans-serif;
  font-size: 18px;
  line-height: 24px;
}

.filter-option label {
  font-size: 14px;
  line-height: 40px;
}

.sort h2 {
  font-family: 'Gilroy ExtraBold', Arial, sans-serif;
  font-size: 16px;
  line-height: 24px;
}

.sort ul {
  list-style: none;
}

.sort a,
.sort a:hover,
.sort a:active {
  font-family: 'Open Sans', Arial, sans-serif;
  font-size: 14px;
  line-height: 18px;
  font-weight: 400;
  color: rgba(0, 0, 0, 0.3);
  letter-spacing: 0;
}

.sort a:hover {
  color: rgba(0, 0, 0, 0.6);
}

.sort a:active {
  color: #000000;
}

.catalog-item-title,
.catalog-item-title:hover,
.catalog-item-title:active {
  color: #000000;
}

.catalog-item-title:hover {
  color: rgba(0, 0, 0, 0.6);
}

.catalog-item-title:active {
  color: rgba(0, 0, 0, 0.3);
}

.price {
  font-family: 'Gilroy Light', Arial, sans-serif;
  font-size: 16px;
  line-height: 24px;
}

.pagination-item a,
.pagination-item a:hover,
.pagination-item a:active {
  font-family: 'Gilroy ExtraBold', Arial, sans-serif;
  font-size: 16px;
  line-height: 24px;
  color: rgba(0, 0, 0, 0.3);
}

.pagination-item a:hover {
  color: rgba(0, 0, 0, 0.6);
}

.pagination-item a:active {
  color: #000000;
}

.pagination-item:first-child a,
.pagination-item:first-child:hover a,
.pagination-item:first-child:active a,
.pagination-item:last-child a,
.pagination-item:last-child:hover a,
.pagination-item:last-child:active a {
  color: #000000;
}

.pagination-item:first-child:hover a,
.pagination-item:last-child:hover a {
  background-color: #d9d9d9;
}

.pagination-item:first-child:active a,
.pagination-item:last-child:active a {
  color: rgba(0, 0, 0, 0.3);

  background-color: #d9d9d9;
}

/* Footer */
.main-footer {
  background-color: #464646;
}

.main-footer a {
  color: #ffffff;
}

.main-footer a:hover {
  color: rgba(255, 255, 255, 0.6);
}

.main-footer a:active {
  color: rgba(255, 255, 255, 0.3);
}

.footer-top a {
  line-height: 36px;
}

.services-item a {
  font-family: 'Gilroy ExtraBold', Arial, sans-serif;
  font-size: 18px;
  line-height: 24px;
}
